<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wiki Maps-Create Map</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map_create.css" type="text/css" />

  <!-- Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div id="page-container">

    <%- include('partials/_header') %>

    <div id="content-wrap">
      <section id="create-new">
        <section id="create-input-boxes">
          <h1>Create Map</h1>
          <div class="map-form-add-point">


            <form method="POST" action="/maps/create">
              <input type="text" id="title" name="title" placeholder="Title" autofocus required>
              <input type="text" id="location" name="location" placeholder="Location">
              <div id="loc-coords">
                <input class="form-control" type="text" id="latitude" name="latitude" value="43.657572963908336"
                  required readonly>
                <input class="form-control" type="text" id="longitude" name="longitude" value="-79.41145185759068"
                  required readonly>
              </div>
              <textarea id="description" name="description" rows="5" placeholder="Description"></textarea>
              <button type="submit" class="btn btn-primary">Create Map</button>
            </form>
          </div>

        </section>

        <section id="create-map-view">
          <div id="map">
            <script>
              let mapLat = 43.657572963908336;
              let mapLng = -79.41145185759068;
              const map = L.map('map').setView([mapLat, mapLng], 12);

              // maptiler
              L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=MSPwE9Jr5bzs11wgXA8F', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'your.mapbox.access.token',
              }).addTo(map);

              // google map tile
              L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 18,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
              }).addTo(map);

              // update map latitude and longitude to form when dragging map
              function onMapMove(e) {
                const center = map.getBounds().getCenter();

                document.getElementById("latitude").value = center.lat;
                document.getElementById("longitude").value = center.lng;
              }
              map.on('move', onMapMove);

            </script>

          </div>
        </section>

      </section>
    </div>

    <%- include('partials/_footer') %>

  </div>
</body>

</html>
