$dark_blue:#146FF3;
$cream:#E7EFF6;

@mixin page{
  background-color: $cream;
  color:$dark_blue;
}
@mixin navigation {
  background-image: linear-gradient(to bottom right, #0d6efd 0%, #124797 100%);;
  font: $cream;
}
@mixin links-theme{
  text-decoration:none;
  color:$cream;
}
.navigation_bar{
  @include navigation;

  position: fixed;
  top: 0;

  height: 7.5vh;
  width: 100%;

  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:2000;

  #logo{
    @include links-theme;
  }

  #maps-link, #maps-favourites, #maps-contributions, #maps-creation{
    @include links-theme;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    width:1000px;
    // justify-content: space-around;
    // padding-left: 3em;
    // gap: 4em;

    & a {
      width: 200px;
      padding: 10px 20px;
      text-align: center;
    }
    & a:hover {
      font-weight: bold;
    }
  }

  .nav-buttons {
    display:flex;
    justify-content: space-between;
    width:500px;
    padding-right:10px;

  }

  #register-login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
  }

  button:hover {
    transform: scale(1.05);
  }
}

footer{
  @include navigation;
  @include links-theme;

  position: absolute;
  bottom: 0;

  height: 2.5rem;
  width: 100%;

  display:flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.search-box{
  width:250px;
  transition: background 0.15s, box-shadow 0.15s;
  background-color:#E7EFF6 ;
  border-radius:5px;
  display:inline-flex;
  box-sizing: border-box;
  border:2px solid #E7EFF6;
}
.fa-search{
  color:$cream;
}

#search-result-container{
  padding-left: 1625px;
  max-height:250px;
  overflow-y:auto;
  transition: visibility 0.1s, opacity 0.1s;
}

.search-result-container--visible{
  visibility:visible;
  opacity:1;
}

.search-result{
  display:block;
  color:$dark_blue;
  text-decoration:none;
  padding:10px;
  cursor:pointer;
}
.search-result:hover{
  background:$cream;
}

.search-result:not(:last-of-type){
  border-bottom: 1px solid $cream;
}
