// See: https://sass-lang.com/

body,
html {
  margin: 0;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

}

.container {
  position: relative;
}

// TYPOGRAPHY
#logo {
  font-family: 'Rufina', serif;
  font-size: 24px;
}


h1, h2, h3 {
  margin-bottom: 40px;
  font-weight: 600;
}

// maps

#map {
  height: 600px;
}

.hack {
  display: none;
}

.mapList {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
  }
  &-box {
    border: 1px solid lightgray;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    min-height: 500px;
    transition: all .2s;
    border-radius: 5px;
    backface-visibility: hidden;

    &:hover {
      background-color: #f9f9f9;
      transform: scale(1.02) translateY(-10px);
      box-shadow: 0 7px 20px rgba(97, 97, 97, 0.2) ;
    }
  }
  &-img{
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-title {
    margin-top: 20px;
    text-transform: uppercase;
  }
  &-btn-box {
    display: flex;
    gap: 10px;
  }
  &-btn {
    max-width: fit-content;
    background-image: linear-gradient(to bottom right, #0d6efd 0%, #124797 100%);
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    transition: all .2s;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background-image: linear-gradient(to top left, #0d6efd 0%, #124797 100%);
    }
  }
}

.created_by_link,
.created_by_link:visited {
  text-decoration: none;
  color: #0d6efd;
  font-weight: bold;
  transition: all .2s;

  &:hover {
    background-color: #0b5ed7;
    color: #fff;
  }
}

.map {
  &-content {
  display: flex;
  margin: 4rem 0;
  width: 100%;
  gap: 40px;
  }
  &-info {
    width: 80%;
  }
  &-form-add-point {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    width: 20%;
    height: 350px;

    & input,
    & textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 10px;
      border: 1px solid #c1c1c1;
      border-radius: 5px;
    }
  }
}

#map_id_hide {
  display: none;
}

.map-heart{
  display:flex;
  justify-content:space-between;
}
.heart-map-id{
  font-size:2em;
}

.edit-form-box {
  display: none;
  margin-bottom: 20px;
}

.add-points-and-view-points{
  display:flex;
}

.map-form-add-point{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items:flex-start;
}

.mapList-container-points{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  // margin-bottom: 40px;
  justify-content: flex-end;
  width: 100%;
  border: 1px solid orangered;
}

.leaflet-popup-content {
  h6 {
    text-transform: uppercase;
  }
}
