// See: https://sass-lang.com/

body,
html {
  margin: 0;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;

}

// maps

#map {
  height: 600px;
}

.hack {
  display: none;
}

.mapList {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
  }
  &-box {
    border: 1px solid lightgray;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    min-height: 500px;
  }
  &-img{
    height: 200px;
    overflow: hidden;
  }
  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-title {
    margin-top: 20px;
    text-transform: uppercase;
  }
  &-btn-box {
    display: flex;
    gap: 10px;
  }
  &-btn {
    max-width: fit-content;
  }
}

.map {
  &-content {
  display: flex;
  margin: 4rem 0;
  }
  &-info {
  flex-grow: 2;
  }
  &-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items:flex-end;
  }
}

#map_id_hide {
  display: none;
}

.map-heart{
  display:flex;
  justify-content:space-between;
}
.heart-map-id{
  font-size:2em;
}

.edit-form-box {
  display: none;
  margin-bottom: 20px;
}

.add-points-and-view-points{
  display:flex;
}

.map-form-add-point{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items:flex-start;
}

.mapList-container-points{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
  justify-content: flex-end;
  width: 80%;
}
