@use 'header';
.map-container{
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
  #map{
    height: 500px;
    width: 1000px;
  }
}

.intro-text{
  width:40%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top:50px;
  color:header.$dark_blue;
  #link{
    @include header.links-theme;
    color:header.$dark_blue;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}
