@use 'header';
.map-container{
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
  #map{
    height: 500px;
    width: 1000px;
  }
}

.intro-text{
  width:40%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top:50px;
  color:header.$dark_blue;
  #link{
    @include header.links-theme;
    color:header.$dark_blue;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-top: 7.5vh;  // set to same height as header height in header.scss
  padding-bottom: 2.5rem; // set to same height as footer height in header.scss
}
.map-buttons{
  display:flex;
  justify-content: space-between;
}
.fa-heart:hover{
  color:red;
}
.fa-heart{
  color:lightpink;
  font-size: 1.5em;
}
.fa-heart-fav{
  color:red;
}

.heart-button
{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.points-image {
  width:100%;
  height:auto;
}
