#create-new {
  display: flex;
  margin: 1.5rem 4rem;

  gap: 1em;

  h1 {
    margin-bottom: 0.5em;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 400px;
  }

  #map {
    height: 600px;
    width: 800px;
  }

  #loc-coords {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }

}
