$dark_blue:#146FF3;
$cream:#E7EFF6;

#page-selector {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    //border-radius: 50%;
  }
}

.page-arrow {
  background-color: $dark_blue;
  color: $cream;

  &:hover {
    background-color: #0e5bcf;
    color: white;
    transition: 0.3s;
  }
}

.page-num {
  background-color: #d8d9da;
  color: black;

  &:hover {
    background-color: #bcbcbd;
    color: black;
    transition: 0.3s;
  }
}
